<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <title>Simple Markdown site template - Alert</title>
    <script src="../document.root.min.js"></script>
</head>
<body>


<!--content

## Alert

syntax: <code><span>%</span>alert#warning(&lt;h4&gt;This is an example alert message!&lt;/h4&gt;Lorem ipsum ...)%alert</code>  
location: built-in

#### warning
%alert#warning(<h4>This is an example alert message!</h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.)%alert

#### info
%alert#info(<h4>This is an example info message!</h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.)%alert

#### danger
%alert#danger(<h4>This is an example danger message!</h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.)%alert


<code><span>%</span>alert#danger(&lt;button type="button" class="close" data-dismiss="alert" aria-hidden="true"&gt;×&lt;/button&gt;<br>
&lt;h4&gt;This is an example message!&lt;/h4&gt;Lorem ipsum ...)%alert</code>

%alert#danger(<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button><h4>This is an example message!</h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.)%alert


-->

<!--right-side-column -->
<!--footer {{=footer}}-->

<noscript><div class="alert alert-warning">This Website requires your browser to be JavaScript enabled.</div></noscript>
</body>
</html>