<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <title>Page layout component</title>
    <script src="../document.min.js"></script>
</head>
<body>

<!--content-panel

## Page layout component
Page layout manager

>syntax:  
><code>%off(%page-layout#parameters( additional css )%page-layout )%off</code>  
>parameters:  
>* media - optional, css media query
>* scheme - layout scheme
>* width - optional, layout width
>* padding - optional, layout width
>* columns - optional, columns widths
>location: built-in  

### Schemes

scheme | used parameters
- | -
centered | width, padding, columns

-->

<!--right-side-panel -->

<noscript><div class="alert alert-warning">This Website requires your browser to be JavaScript enabled.</div></noscript>
<script>if(typeof $DOC==="undefined")document.write('<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" id="bootstrap.css" auto="1"><script src="http://aplib.github.io/document.min.js"><'+'/script>');</script>
</body>
</html>