<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <title>Simple Markdown site template - Functions</title>
    <script src="../document.root.min.js"></script>
</head>
<body>


<!--content

### CSS

#### static css

static css style  
syntax: ```%css#styles(marked text)%css```  
location: built-in

 example:

```%css#padding=16px;margin=4px;border-radius=4px;background-color=#fcf5b9;box-shadow=1px 1px 5px #888888(### Markdown here
This is an example apply css style)%css```

%css#padding=16px;margin=4px;border-radius=4px;background-color=#fcf5b9;box-shadow=1px 1px 5px #888888(### Markdown here
This is an example apply css style)%css

```%css#scale=2,2;rotate=3deg;origin=left(This is an ```example``` *formatted*, **scaled** and ***rotated***)%css```

%css#scale=2,2;rotate=3deg;origin=left(This is an ```example``` *formatted*, **scaled** and ***rotated***)%css

#### hover

style applied if mouse over element  
syntax: ```%hover#styles(marked text)%hover```  
location: built-in

 example:

```%hover#scale=2,2;rotate=3deg;origin=left;transition=0.3s(This is an ```example``` *formatted*, **scaled** and ***rotated***)%hover```

%hover#scale=2,2;rotate=3deg;origin=left;transition=0.3s(This is an ```example``` *formatted*, **scaled** and ***rotated***)%hover

### CSS-transforms functions

* matrix(1.0, 2.0, 3.0, 4.0, 5.0, 6.0)
* translate(12px, 50%)
* translateX(2em)
* translateY(3in)
* scale(2, 0.5)
* scaleX(2)
* scaleY(0.5)
* rotate(0.5turn)
* skewX(30deg)
* skewY(1.07rad)
* matrix3d(1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0, 13.0, 14.0, 15.0, 16.0)
* translate3d(12px, 50%, 3em)
* translateZ(2px)
* scale3d(2.5, 1.2, 0.3)
* scaleZ(0.3)
* rotate3d(1, 2.0, 3.0, 10deg)
* rotateX(10deg)
* rotateY(10deg)
* rotateZ(10deg)
* perspective(17px)

-->


<!--footer
* © 2013 [aplib](https://github.com/aplib) MIT
* Free download simple markdown site template [from GitHub](https://github.com/aplib/markdown-site-template)
-->

<noscript><div class="alert alert-warning">This Website requires your browser to be JavaScript enabled.</div></noscript>
</body>
</html>