<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <title>Simple Markdown site template - Alert</title>
    <script src="../document.min.js"></script>
</head>
<body>


<!--content-panel

## Alert

>syntax:  
><code><span>%</span>alert#warning(#### This is an example alert message!<br>
>Lorem ipsum ...)%alert</code>  
>location: built-in

#### warning
%alert#warning(#### This is an example alert message!
***
Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum.
1. Lorem ipsum
2. Etiam rhoncus
3. Nam pretium turpis et arcu
)%alert

#### link
%alert#link(#### This is an example alert message!
***
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.)%alert

#### success
%alert#success(#### This is an example alert message!
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.)%alert

#### info
%alert#info(#### This is an example alert message!
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.)%alert

#### danger
%alert#danger(#### This is an example alert message!
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.)%alert


<code><span>%</span>alert#danger(&lt;button type="button" class="close" data-dismiss="alert" aria-hidden="true"&gt;×&lt;/button&gt;<br>
&lt;h4&gt;This is an example message!&lt;/h4&gt;Lorem ipsum ...)%alert</code>

%alert#danger(<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button><h4>This is an example message!</h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.)%alert


-->

<!--right-side-panel -->

<noscript><div class="alert alert-warning">This Website requires your browser to be JavaScript enabled.</div></noscript>
<script>if(typeof $DOC==="undefined"){document.head.insertAdjacentHTML('afterbegin','<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" id="bootstrap.css" auto="1">');document.write('<script src="http://aplib.github.io/document.min.js"><'+'/script>');}</script>
</body>
</html>