<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <title>Emoji component</title>
    <script src="../document.min.js" id='DOC' onerror="var l=document.createElement('link'),s=document.createElement('script');l.rel='stylesheet';l.href='http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css';l.id='bootstrap.css';l.auto='1';document.head.insertBefore(l,document.getElementById('DOC'));s.src='http://aplib.github.io/document.min.js';document.head.appendChild(s);"></script>
    <script src="GitHub/gemoji/GitHub.gemoji.js"></script>
</head>
<body>





<!--content-panel

## Emoji component
<h3><a class="label label-default" href="http://aplib.github.io/markdown-site-template/components/GitHub.gemoji.zip">Download</a></h3>  

>syntax:  
>```:name:```  
>location: components/GitHub/gemoji/  
>initialization: script in user.js (globally) or script on the page  

script:

    function emoji(text) { return '%GitHub.gemoji'+'(' + text + ')%GitHub.gemoji'; }
    emoji.regex = /:\S{1,20}:(?!`)/g;
    $DOC.filters.push(emoji);

component: <code><span>%</span>GitHub.gemoji(abc)<span>%</span>GitHub.gemoji</code>

Here is conveniently view http://www.emoji-cheat-sheet.com/

some example:

:zero:  ```:zero:```
:one:  ```:one:```
:two:  ```:two:```
:three:  ```:three:```
:four:  ```:four:```
:five:  ```:five:```
:keycap_ten:  ```:keycap_ten:```  

:arrow_forward:  ```:arrow_forward:```
:arrow_right:  ```:arrow_right:```
:arrow_upper_left:  ```:arrow_upper_left:```
:arrow_heading_down:  ```:arrow_heading_down:```
:arrow_up_down:  ```:arrow_up_down:```
:abc:  ```:abc:```  

:+1:  ```:+1:```
:-1:  ```:-1:```
:clock10:  ```:clock10:```
:clock5:  ```:clock5:```
:smile:  ```:smile:```
:imp:  ```:imp:```  

:copyright:  ```:copyright:```
:registered:  ```:registered:```
:tm:  ```:tm:```  
  
:vs:
:warning:
:wheelchair:
:zap:
:zzz:

-->

<!--right-side-panel -->

<noscript><div class="alert alert-warning">This Website requires your browser to be JavaScript enabled.</div></noscript>
</body>
</html>