<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <title>YouTube Player component</title>
    <script src="../document.min.js"></script>
</head>
<body>

<!--content

## YouTube player component
<h3><a class="label label-default" href="http://aplib.github.io/markdown-site-template/components/YouTube.Player.zip">Download</a></h3>  
>syntax: <code><span>%</span>YouTube.Player<span>(ID,parameters)</span><span>%</span>YouTube.Player</code>  
>location: components/YouTube/Player/  

%YouTube.Player(M7lc1UVf-VE,hd720,400,280)%YouTube.Player


### Parameters

* videoID {string}
* start {number} - optionalб begin playing the video at the given number of seconds from the start of the video
* quality {default,small,medium,large,hd720,hd1080,highres} - optional
* width - optional, default value 640
* height - optional, default value 390
* command {play} - optional


<code><span>%</span>YouTube.Player(M7lc1UVf-VE)<span>%</span>YouTube.Player</code>

<code><span>%</span>YouTube.Player(M7lc1UVf-VE,226,large,400,280,play)<span>%</span>YouTube.Player</code>

<code><span>%</span>YouTube.Player#videoID=M7lc1UVf-VE,start=226,quality=large,width=400,height=280,command=play()<span>%</span>YouTube.Player</code>

-->

<!--right-side-column -->

<noscript><div class="alert alert-warning">This Website requires your browser to be JavaScript enabled.</div></noscript>
<script>if(typeof $DOC==="undefined")document.write('<script src="http://aplib.github.io/markdown-site-template/document.min.js"><'+'/script>');</script>
</body>
</html>