<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <title>YouTube Player component</title>
    <script src="../document.root.min.js"></script>
</head>
<body>

<!--content

### YouTube player component <h3><a class="label label-default" href="http://aplib.github.io/markdown-site-template/components/YouTube.Player.zip">Download</a></h3>

syntax: ```%YouTube.Player(ID,parameters)%YouTube.Player```  
location: [components/YouTube/Player/YouTube.Player.js](YouTube/Player/YouTube.Player.js)  

%YouTube.Player(M7lc1UVf-VE,hd720,400,280)%YouTube.Player


### Parameters

* videoID {string}
* start {number} - optionalб begin playing the video at the given number of seconds from the start of the video
* quality {default,small,medium,large,hd720,hd1080,highres} - optional
* width - optional, default value 640
* height - optional, default value 390
* command {play} - optional


```%YouTube.Player(M7lc1UVf-VE)%YouTube.Player```

```%YouTube.Player(M7lc1UVf-VE,226,large,400,280,play)%YouTube.Player```

```%YouTube.Player#videoID=M7lc1UVf-VE,start=226,quality=large,width=400,height=280,command=play()%YouTube.Player```

-->

<!--right-side-column -->
<!--footer
* © 2013 [aplib](https://github.com/aplib) MIT
* Free download simple markdown site template [from GitHub](https://github.com/aplib/markdown-site-template)
-->

<noscript><div class="alert alert-warning">This Website requires your browser to be JavaScript enabled.</div></noscript>
</body>
</html>